<kt-portlet>
    <kt-portlet-body>
        <div class="row">
            <div class="col-md-4">
                <h5>Patient Name :{{ userDetails.firstName}}</h5>
            </div>
            <div class="col-md-4">
                <h5>Patient email :{{ userDetails.email}}</h5>
            </div>
            <div class="col-md-4">
                <h5>Patient Name :{{ userDetails.phone}}</h5>
            </div>
        </div>
        <br>
        <div class="col-md-12" *ngFor="let test of userDetails.covidTest">
            <div class="row">
                <div class="col-md-4">
                    <h6>Test Result :{{test.testResult}}</h6>
                </div>
                <div class="col-md-4">
                    <h6> Stage :{{test.stage}}</h6>
                </div>
                <div class="col-md-4">
                    <button mat-raised-button (click)="openMap(test.location,lgModal)" color="accent">View location</button>
                </div>
            </div>

        </div>
        <!-- <p>Location: &nbsp;<span (click)="openMap(userDetails.location,lgModal)">
            <button mat-raised-button color="accent">View location
            </button></span></p>
        </div> -->
    </kt-portlet-body>
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
                    <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">

                    <div #map id="agm-map"></div>
                </div>
            </div>
        </div>
    </div>

</kt-portlet>