<kt-portlet >
    <kt-portlet-body >
        <mat-list>
            <mat-list-item>1.Clean your hands often, either with soap and water for 20 seconds or a hand sanitizer that contains at least 60% alcohol.</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>2. Avoid close contact with people who are sick.</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>3. Stay at home as much as possible.</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>4. Cover your mouth and nose with a cloth face cover when around others.</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>5. Cover your cough or sneeze with a tissue, then throw the tissue in the trash.</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>6. Clean and disinfect frequently touched objects and surfaces daily.</mat-list-item>
        </mat-list>
    </kt-portlet-body>
</kt-portlet>