<!--begin::Body-->
<div hidden #map></div>
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>Registation</h3>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-login__form kt-form" [formGroup]="registerForm" autocomplete="off">
			<div class="form-group" >
				<mat-form-field appearance="outline">
					<mat-label>First Name</mat-label>
					<input matInput type="text" placeholder="First Name" formControlName="firstName" required/>
					<mat-error *ngIf="isControlHasError('firstName','required')">
						<strong>First Name required</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group" >
				<mat-form-field appearance="outline">
					<mat-label>Last Name</mat-label>
					<input matInput type="text" placeholder="Last Name" formControlName="lastName" required/>
					<mat-error *ngIf="isControlHasError('LastName','required')">
						<strong>Last Name required</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group" >
				<mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input matInput type="email" placeholder="email" formControlName="email" autocomplete="off" required/>
					<mat-error *ngIf="isControlHasError('email','required')">
						<strong>Email is required</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','email')">
						<strong>Invalid email</strong>
					</mat-error>
					
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field appearance="outline">
					<mat-label>User Name</mat-label>
					<input matInput type="email" placeholder="User Name" formControlName="username"
						autocomplete="off" required />
					<mat-error *ngIf="isControlHasError('username','required')">
						<strong>User Name is required</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('username','username')">
						<strong>entered User Name is invalid</strong>
					</mat-error>
				

				</mat-form-field>
			</div>
			<div class="form-group" >
				<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input matInput type="password" placeholder="password" formControlName="password" autocomplete="off" required/>
					<mat-error *ngIf="isControlHasError('password','required')">
						<strong>Password required</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('password','minlength')">
						<strong>Password Lenght must be 8</strong>
					</mat-error>
					
				</mat-form-field>
			</div>
			<div class="form-group" >
				<mat-form-field appearance="outline">
					<mat-label>Phone</mat-label>
					<input matInput type="number" maxlength="10" placeholder="phone" formControlName="phone" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('phone','required')">
						<strong>Phone required</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('phone','maxLength')">
						<strong>Phone Lenght must be 10</strong>
					</mat-error>
					
				</mat-form-field>
			</div>

			<div class="form-group" >
					
					<mat-radio-group aria-label="Select an option" formControlName="userRole"> 
						<mat-radio-button  value="guest">Test Taker</mat-radio-button>
						<mat-radio-button  value="medicalHelper">Medical Helper</mat-radio-button>
					  </mat-radio-group>
					
			</div>
			<br>
			<!--begin::Action-->
			<div class="kt-login__actions">
				
				<button routerLink="/auth/login" [disabled]="loading" id="kt_login_signup_cancel" class="btn btn-secondary btn-elevate kt-login__btn-secondary">Back</button>
				<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Register</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>
